workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

before_script:
  - python3 -m venv venv
  - source ./venv/bin/activate
  - pip install -r requirements.txt

stages:
  - tests
  - deploy

test_job:
  stage: tests
  script:
    - echo "начинаем тестирование приложения"
    - docker-compose -f docker-compose.test.yml stop
    - docker-compose -f docker-compose.deploy.yml stop
    - git stash clear
    - git stash -m 'to drop'
    - git pull origin dev --rebase
    - docker-compose -f docker-compose.test.yml up -d && sleep 10
    - cd ./backend/src
    - alembic -c alembic_test.ini upgrade head
    - pytest .
    - black --diff --check .
    - isort --check-only --profile=black .
    - flake8 .
    - echo "тест alles"

deploy_job:
  stage: deploy
  #only: main
  script:
    - echo "Развёртывание приложения"
    - fab deploy
    - echo "Дипломная работа развёрнута"
