before_script:
  - python3 -m venv venv
  - source ./venv/bin/activate
  - pip install fabric

stages:
  - tests
  - deploy

test_job:
  stage: tests
  script:
    - echo "начинаем тестирование приложения"
    - fab test
    - echo "тестовые контейнеры развёрнуты"

deploy_job:
  stage: deploy
  #only: main
  script:
    - echo "Развёртывание приложения"
    - fab deploy
    - echo "Дипломная работа развёрнута"
