version: "3.7"

services:
  postgres:
    container_name: test-postgres
    image: postgres:14.3
    ports:
      - "5022:5432"
    environment:
      POSTGRES_PASSWORD: PostgresPassword
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    networks:
      - skynet
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_ROOT_USER} -d ${POSTGRES_ROOT_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

networks:
  skynet:
    driver: bridge
    name: home-net
